.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #00488b;
    overflow-y: auto !important;
    transition: width 0.3s;
}
.sidebar .nav-link {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.sidebar .description {
    font-size: 14;
}

.sidebar .nav-link:hover {
    background-color: #d8a602;
}

.sidebar .sub-menu {
    background-color: #023565;
    padding-left: 3%;
}

.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #00488b; /* Warna track */
}

.sidebar::-webkit-scrollbar-thumb {
    background: #0074d9; /* Warna thumb */
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #005f9e; /* Warna thumb saat hover */
}

@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }
    .sidebar .description {
        display: none;
    }
    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}
